:root {
    --light-bg-color: #E4E4DE;
    font-family: 'arial';
}

body {
    /*background: url(../styles/governor-wes-moore-official-portrait.JPG);
    background-repeat: repeat;
    background-size: 100% 30%;*/
    background-color: cadetblue;
}