body {
    display: flex;
    flex-direction: column;
    background-color: green;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#blogs {
    flex: 1;
    background-color: aqua;
    margin-right: 12px;
    margin-left: 12px;
}