:root {
    --mw: 50%;
}

body {
    margin: 0;
}

#blogs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--mw);
}

#blogs {
    flex: 1;
    margin-right: 12px;
    margin-left: 12px;
    width: 100%;
}

#switch-page-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    gap: 16px;
}

.switch-page {
    
}