@keyframes borderColorBlogTitleCard {
    0% {border-color: blue;}
    25% {border-color: pink;}
    50% {border-color: yellow;}
    75% {border-color: brown;}
    100% {border-color: green;}
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}