:root {
    font-family: 'Monocraft';
}

#blog-card-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 24px;
    padding: 18px;
    background-color: var(--secondary);
    border-radius: 24px;
    border-style: inset;
    border-color: #7fc7a7;
    /*animation: borderColorBlogTitleCard 7s ease-in-out alternate infinite;*/
    border-width: 5px;
    line-height: 1.2;
}

#blog-title-and-text-container {
    background-color: whitesmoke;
    padding: 12px;
    border-style: solid;
    border-width: 2px;
    border-radius: var(--br2);
}

#blog-text-container {
    border-radius: var(--br3);
}

#blog-title {
    font-size: 24px;
}

#blog-text {
    font-size: 18px;
    margin-top: 8px;
    line-height: 1.5;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

#comment-section-container {
    background-color: whitesmoke;
    padding: 12px;
    margin-top: 16px;
    border-style: solid;
    border-width: 2px;
    border-radius: var(--br2);
    width: fit-content;
}

#comments-container {
    display: flex;
    flex-direction: row;
}

#comment-section {
    display: flex;
    flex-direction: column;
    width: 100%;

}

#comments-row {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
    /*background-color: #f5deb3;*/
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    padding: 12px;
    margin: 6px 6px;
}

.comments-row-stars {
    width: 100%;
    height: 100%;
    /*background-color: #fff8ea;*/
    padding: 4px;
    margin-left: 12px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 8px;
}

#comments-column {
    display: flex;
    flex-direction: column;
}

#make-comment-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}